<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create task</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create task</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
</head>
<body>
<div th:replace="fragments/navbar :: navbar(1,${user.name})"></div>
<br/><br/>
<div class="row justify-content-center">
    <div class="col-md-6 col-md-offset-3">
        <div class="container">
            <div class="card text-center">
                <div class="card-body">
                    <h1>Edit task</h1>
                    <form th:action="@{/edit-task}" th:object="${task}" method="post">
                        <input type="hidden"
                               th:field="*{id}"
                               name="id"
                               class="form-control"
                               th:value= "${currentTask.id}">
                        <div class="form-group">
                            <input type="text"
                                   th:field="*{name}"
                                   name="name"
                                   class="form-control"
                                   autofocus="autofocus"
                                   th:value= "${currentTask.name}"
                                   required/>
                        </div>
                        <br/>
                        <div class="form-group">
                            <input type="text"
                                   th:field="*{description}"
                                   name="description"
                                   class="form-control"
                                   autofocus="autofocus"
                                   th:value= "${currentTask.description}" />
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-4">Select status:</div>
                            <div class="form-group col-sm-8">
                                <select th:field="*{status}"
                                        name="status"
                                        id="status"
                                        class="form-control"
                                        th:value= "${currentTask.status}">
                                    <option value="OPEN">Open</option>
                                    <option value="IN_PROGRESS">In progress</option>
                                    <option value="DONE">Done</option>
                                </select>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-4">Select priority:</div>
                            <div class="form-group col-sm-8">
                                <select th:field="*{priority}"
                                        name="priority"
                                        id="priority"
                                        class="form-control"
                                        th:value= "${currentTask.priority}">
                                    <option value="LOW">Low</option>
                                    <option value="MEDIUM">Medium</option>
                                    <option value="HIGH">High</option>
                                </select>
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <input type="submit"
                                   name="register-submit"
                                   class="btn btn-primary form-btn"
                                   value="Edit"/>
                        </div>
                        <br/>
                        <div th:if="${status == 'errorForm'}">
                            <div class="alert alert-danger">
                                Error completing form.
                            </div>
                        </div>
                        <div th:if="${status == 'errorProject'}">
                            <div class="alert alert-danger">
                                Error! No current project.
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>