<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
</head>
<body>
<div th:replace="fragments/navbar :: navbar(0)"></div>
<br/><br/>
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="container">
            <div class="card text-center">
                <div class="card-body">
                    <h1>Error</h1>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>