<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="fragments/navbar :: navbar(1,${user.name})"></div>
<br/><br/>
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="container">
            <div class="card text-center">
                <div class="card-body">
                    <h1>My projects</h1>
                    <hr/>
                    <br/>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="project : ${projects}">
                        <tr>
                            <td th:text="${project.name}"></td>
                            <td th:text="${project.description}"></td>
                            <td>
                                <form th:action="@{'/project/' + ${project.id}}" method="get">
                                    <button type="submit" class="btn btn-outline-primary btn-sm">Open</button>
                                </form>
                            </td>
                        </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="container custom-container">
            <div class="card text-center">
                <div class="card-body">
                    <h1>My tasks</h1>
                    <hr/>
                    <br/>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
<!--                        <th scope="col">Project</th>-->
                            <th scope="col">Status</th>
                            <th scope="col">Priority</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="task : ${tasks}">
                            <tr>
                                <td th:text="${task.name}"></td>
                                <td th:text="${task.description}"></td>
<!--                            <td th:text="${task.projectId}"></td>-->
                                <td th:text="${task.status}"></td>
                                <td th:text="${task.priority}"></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>