<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
</head>
<body>
<div th:replace="fragments/navbar :: navbar(0)"></div>
<br/><br/>
<div class="row justify-content-center">
    <div class="col-md-6 col-md-offset-3">
        <div class="container">
            <div class="card text-center">
                <div class="card-body">
                    <h1>Login</h1>
                    <form th:action="@{/login}" th:object="${user}" method="post">
                        <br/>
                        <div class="form-group">
                            <input type="email"
                                   th:field="*{email}"
                                   name="email"
                                   class="form-control"
                                   autofocus="autofocus"
                                   placeholder="Email"
                                   required/>
                        </div>
                        <br/>
                        <div class="form-group">
                            <input type="password"
                                   th:field="*{password}"
                                   name="password"
                                   class="form-control"
                                   placeholder="Password"
                                   required/>
                        </div>
                        <br/>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <input type="submit"
                                           name="login-submit"
                                           class="btn btn-primary form-btn"
                                           value="Log In"/>
                                </div>
                                <div class="col-sm-6 col-sm-offset-3">
                                    <a class="btn btn-primary form-btn" href="/register" role="button">Register</a>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div th:if="${status == 'error'}">
                            <div class="alert alert-danger">
                                Invalid username or password.
                            </div>
                        </div>
                        <div th:if="${status == 'logout'}">
                            <div class="alert alert-info">
                                You have been logged out.
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>